<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    
    <!-- 
    Adresa vyplněná v poli "Unikátní URL adresa zabezpečené části vašeho webu" v konfiguraci SeP v NIA, 
    viz strana 32 příručky SeP https://dev.azure.com/SpravaZakladnichRegistru/NIA%20pro%20v%C3%BDvoj%C3%A1%C5%99e/_wiki/wikis/NIA-pro-v%C3%BDvoj%C3%A1%C5%99e.wiki/67/Autorizace-digit%C3%A1ln%C3%ADho-%C3%BAkonu
    -->
    <add key="Saml2:Issuer" value="https://(FQDN)/nia/" />
    
    <!-- 
    Zda se má provádět validace certifikátu u SAML (true/false), může se hodit nastavit na false pokud je testovací systém za proxy 
    -->
    <add key="Saml2:ValidateCertificate" value="true" />
      
    <!-- 
    Hodnota z X509KeyStorageFlags definující, jakým způsobem se mají ukládat klíče do úložiště
    -->
    <add key="Saml2:X509KeyStorageFlags" value="DefaultKeySet" />

    <!-- 
    Adresa pro načítání metadat z testovací NIA 
    -->
    <add key="Saml2:IdPMetadataUrl" value="https://tnia.identitaobcana.cz/FPSTS/FederationMetadata/2007-06/FederationMetadata.xml" />
    
    <!--  
    Cesta k souboru s certifikátem pro šifrování SAML2, certifikát musí být nahrán v konfiguraci SeP v NIA, 
    viz Načtení veřejné části šifrovacího certifikátu v konfiguraci SeP, strana 33.
    -->
    <add key="Saml2:CertificateFilePath" value="~/App_Data/certifikat_saml.pfx" />
    
    <!-- 
    Heslo k privátnímu klíči souboru s certifikátem pro šifrování SAML2
    -->
    <add key="Saml2:CertificatePassword" value="adu" />
    
    <!-- 
    Adresa pro služby testovací NIA pro získání ActAs tokenu a volání služeb ADU 
    -->
    <add key="Nia:RequestActAsTokenAppliesTo" value="https://tnia.identitaobcana.cz/ws/submission/public.svc/token" />
    
    <!--  
    Cesta k souboru s certifikátem pro volání služeb autorizace digitálního úkonu, 
    certifikát musí být nahrán v konfiguraci SeP v NIA, viz Autorizace digitálního úkonu, strana 74.
    Certifikát musí být ve formátu PEM/CER (Base64 encoded X.509).
    -->
    <add key="Nia:AduCertificateFilePath" value="~/App_Data/certifikat_adu.pem" />
      
    <!-- Adresa pro služby testovací NIA pro autorizaci digitálního úkonu přihlášením, 
    požadovaná Loa je přímo v url 
    -->
    <add key="Nia:AduAutorizacePodaniUrl" value="https://twww.identitaobcana.cz/Autorizace/Podani/?Loa=2&amp;Id={0}&amp;ReplyUrl={1}" />
      
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/nia/login" />
    </authentication>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.identityModel />
  <system.identityModel.services />
  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding>
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
      <ws2007FederationHttpBinding>
        <binding>
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <clientCredentials supportInteractive="false">
            <issuedToken cacheIssuedTokens="false">
              <localIssuer address="https://tnia.identitaobcana.cz/FPSTS/actas.svc" binding="ws2007HttpBinding" />
            </issuedToken>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://tnia.identitaobcana.cz/FPSTS/actas.svc" binding="ws2007HttpBinding" contract="System.ServiceModel.Security.IWSTrustChannelContract" name="ActAs" />
      <endpoint address="https://tnia.identitaobcana.cz/ws/submission/public.svc/token" binding="ws2007FederationHttpBinding" contract="SubmissionService.IBusinessTransactions" name="Token" />
    </client>
  </system.serviceModel>
  <!--<system.net>
    <defaultProxy>
      <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false"/>
    </defaultProxy>
  </system.net>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>